<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI Hub</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="hero">
        <h1>Swagger Hub</h1>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <h2>Host Your Swagger</h2>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <!-- <label for="file">Select your Swagger file</label> -->
                <div class="new-or-upload">
                    <div class="file-upload" id="drop-zone">
                        <input type="file" id="file" name="file" accept=".yaml,.json" required>
                        <span class="file-upload-text">Tap to select or drop your file here</span>
                    </div>
                    <p style="justify-content: center; display: flex; align-items: center;">OR</p>
                    <button type="button" class="new-button" onclick="window.location.href='/editor'">NEW</button>
                </div>

                <label for="expires">Expiration time</label>
                <select id="expires" name="expires">
                    <option value="15min">15 minutes</option>
                    <option value="3h">3 hours</option>
                    <option value="1day">1 day</option>
                </select>

                <div class="password-options">
                    <details>
                        <summary>
                            <label for="use-password">Secure Settings</label>
                        </summary>
                        <div class="secure-settings-content">
                            <div style="margin-top: 10px;">
                                <input type="checkbox" id="read-once" name="read-once">Read once
                            </div>
                            <div style="margin-top: 10px;">
                                <input type="checkbox" id="one-reader" name="one-reader">One reader
                            </div>
                            <div class="password-fields">
                                <label for="upload-password">Specify Access Key</label>
                                <input class="password-input" type="password" id="upload-password" name="password" placeholder="Enter a secure access key">
                                <div class="generate-password">
                                    <label for="generate-password">
                                            <input type="checkbox" id="generate-password" name="generate-password">Auto  
                                        </label>
                                </div>
                            </div>
                        </div>
                    </details>
                </div>
                <button type="submit " class="cta-button ">Submit</button>
            </form>
        </div>
    </div>
    <script src="/static/js/script.js "></script>
</body>

</html>