<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swagger UI Hub</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@30;400;600&display=swap">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="hero">
        <h1>Swagger Hub</h1>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <h2>Host Your Swagger</h2>
            <form action="/upload" method="post" enctype="multipart/form-data"><label for="file">Select your Swagger file</label>
                <div class="file-upload" id="drop-zone">
                    <input type="file" id="file" name="file" accept=".yaml,.json" required>
                    <span class="file-upload-text">Tap to select or drop your file here</span>
                </div>
                <div class="password-options">
                    <label for="use-password">
                        <input type="checkbox" id="use-password" name="use-password">Secure with Access Key 
                    </label>
                </div>
                <div id="password-fields" style="display: none; margin-top: -10px; margin-bottom: 10px;">
                    <label for="upload-password">Create Your Access Key</label>
                    <input class="password-input" type="password" id="upload-password" name="password" placeholder="Enter a secure access key">
                    <div class="generate-password">
                        <label for="generate-password">
                            <input type="checkbox" id="generate-password" name="generate-password">Generate Secure Key 
                        </label>
                    </div>
                </div>
                <label for="expires">Set expiration time</label>
                <select id="expires" name="expires">
                    <option value="15min">15 minutes</option>
                    <option value="3h">3 hours</option>
                    <option value="1day">1 day</option>
                </select>
                <button type="submit" class="cta-button">Submit</button>
            </form>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>